.widget {
  background: var(--card-bg-color);
  border: var(--accent-color) solid var(--border-width-thin);
  padding: 16px;
  border-radius: 12px;
  font-family: var(--font-family-base);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.widget::-webkit-scrollbar {
  display: none;
}

.widget:last-child {
  grid-column: 1 / -1;
  align-self: stretch;
}

.widget__title {
  margin-bottom: 8px;
  font-size: var(--font-size-lg);
  color: var(--main-text-color);
}

.widget__content {
  color: var(--muted-text-color);
}

.widget_small {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.widget_medium {
  grid-column: span 2;
}
.widget_large {
  grid-column: span 4;
}
