.widget {
  overflow: hidden;
  background: var(--card-bg-color);
  border: var(--accent-color) solid var(--border-width-thin);
  border-radius: var(--border-radius-md);
  font-family: var(--font-family-base);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.widget::-webkit-scrollbar {
  display: none;
}

.widget__title {
  padding: var(--spacing-3);
  font-size: var(--font-size-lg);
  color: var(--main-text-color);
}

.widget__content {
  padding: var(--spacing-2);
  color: var(--muted-text-color);
}

.widget_small_repo {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.widget_medium_repo {
  grid-column: span 2;
}

.widget_medium_user {
  grid-row: span 2;
}

.widget_large_mobile {
  grid-column: span 4;
}

.widget_large_repo {
  grid-column: span 4;
}

.widget--readme,
.widget--repos {
  overflow-y: auto;
}

@media (max-width: 1024px) {
  .widget_small_repo {
    grid-column: span 2;
  }
  .widget_medium_repo {
    grid-column: span 4;
  }
}

@media (max-width: 640px) {
  .widget_small_repo {
    grid-column: span 4;
  }
}
