.dashboard {
  height: fit-content;
  gap: 16px;
  background-color: var(--gray-1000);
  padding: var(--spacing-3);
  border-radius: var(--border-radius-xl);
}

.dashboard__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
