.home_page {
  height: 100vh;
}

.header {
  padding-left: var(--spacing-4);
  height: var(--spacing-9);
  background-color: var(--secondary-bg-color);
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}

.header__title {
  font-family: var(--font-family-base);
  color: var(--main-text-color);
}

.searchbar__wrapper {
  background-color: var(--main-bg-color);
  height: 93.4%;
  display: flex;
  justify-content: center;
  align-items: center;
}
