.read_me__markdown {
  margin: var(--spacing-1) auto 0;
  height: 100%;
  overflow-y: scroll;
  text-align: center;
  color: var(--secondary-text-color);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.read_me__markdown::-webkit-scrollbar {
  display: none;
}
