.repo_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  padding: var(--spacing-3);
  font-family: var(--font-family-base);
  gap: var(--spacing-1);
  background-color: var(--card-bg-color);
  border: var(--border-width-thin) solid var(--accent-color);
  border-radius: var(--border-radius-lg);
  transition:
    transform 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6),
    background-color 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    color 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.repo_item:hover {
  transform: scale(1.05);
  background-color: var(--card-hover-bg-color);
  cursor: pointer;
}

.repo_item:hover .repo_item__name {
  color: var(--inverse-text-color);
}

.repo_item__name {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-extraBold);
  color: var(--main-text-color);
}

.repo_item:hover .repo_item__description {
  color: var(--medium-accent-color);
}

.repo_item__description {
  color: var(--accent-color);
  font-weight: var(--font-weight-bold);
}

.repo_item:hover .repo_item__data {
  color: var(--inverse-secondary-text-color);
}

.repo_item__data {
  color: var(--secondary-text-color);
}
