.user_page {
  background-color: var(--main-bg-color);
  min-height: 100vh;
  max-height: fit-content;
}

.user_page__repos {
  position: relative;
  margin: var(--spacing-9) auto 0;
  padding-bottom: 5rem;
  place-items: center;
  width: 70rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 1fr;
  gap: var(--spacing-4);
}

.user_page__show_more {
  position: absolute;
  bottom: 2rem;
  padding: var(--spacing-2) var(--spacing-3);
  border-radius: var(--border-radius-full);
  border: var(--border-width-medium) solid var(--accent-color);
  background-color: var(--button-bg-color);
  color: var(--main-text-color);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  box-shadow: var(--shadow-md);
}

.user_page__show_more:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: var(--hover-bg-color);
  color: var(--focus-outline-color);
  border-color: var(--medium-accent-color);
  box-shadow: var(--shadow-md);
  transition: all 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
